.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  margin: 0;
}

/* Existing styles */

/* Media query for mobile devices */
@media (max-width: 768px) {
  .chatContainer {
    width: 100%; /* Make chat container full width for mobile */
    /* height: 100%; */
     /* Adjust height for mobile */
  }

  .header {
    height: auto; /* Allow header to adjust its height */
    flex-direction: row; /* Stack header items in a column */
    align-items: center; /* Center align header items */
    padding: 10px;
  }

  .header > h2 {
    font-size: 3vmax; /* Increase font size for mobile */
    margin: 2vmax 0; /* Adjust margin for spacing */
  }

  .chatBox {
    height: 50%; /* Reduce chat box height for mobile */
  }

  .inputBox {
    height: auto; /* Allow input box to adjust its height */
    /* flex-direction: column; */
     /* Stack input items in a column */
  }

  #chatInput {
    width: 100%; /* Make chat input full width for mobile */
    /* margin-bottom: 1vmax;  */
    /* Adjust margin for spacing */
    font-size: 2.2vmax;
  }

  .sendBtn {
    /* width: 100%;  */
    /* Make send button full width for mobile */
    margin: 0; /* Remove margin for spacing */
  }
  
  .messageBox{
    padding: 1vmax;
    margin: 1vmax;
    border-radius: 0.5vmax;
    display: inline-block;
    clear: both;
    font-size: 2.2vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
}
