.App {
  text-align: center;
}

.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.input-box {
  display: block;
  margin: 25px;
  padding:7px;
  width: 300px;
  border: 1px;
  margin-left: 800px;
}


