/* .t1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
} */
table, th, td {
    border: 1px solid black;
    /* border-radius: 12px; */
}
.button2 {

    font-size: calc(10px + 2vmin);
    /* margin-right: 10px; */
    
  }

