.ProductList {
    text-align: center;
}

.table-container {
    display: flex;
    justify-content: center;
  }
  
  .dynamic-table {
    width: 80%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin: 20px;
    margin-left: 193px;
  }
  
  .dynamic-table th,
  .dynamic-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .dynamic-table th {
    background-color: #f2f2f2;
  }
  
  .dynamic-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .dynamic-table tr:hover {
    background-color: #e6e6e6;
  }

  .td-button {
    background-color: #ee6d6b;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px
  }
  
  .td-button:hover {
    background-color: #c62828;
  }
  
  