.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-box {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .singUp-btn {
    /* width: 100%; */
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .singUp-btn:hover {
    background-color: #45a049;
  }
  