@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Josefin+Sans:wght@300&display=swap');
.App {
  min-height: 100vh;
  display: flex;
  background-color: rgba(3, 5, 8, 0.692);
}
